body {
	margin: 0;
	padding: 0;

	font-family: 'Cuprum',  sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	
	background-color: #ffffff;	
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; 
}

.list-style{
	list-style: none;
}

a {
	text-decoration: none;
}



.main-header {
	margin-bottom: 25px;
	background-color: #f3f7f9;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 60px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 50px;
	background-color: #293449;
}

.main-navigation-block {
	background-color: #293449;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-navigation-wrapper .main-navigation-block {
	display: flex;
	justify-content: flex-start;
}

.main-navigation-block img {
	padding-top: 13px;
	padding-bottom: 15px;
	padding-right: 55px;
	padding-left: 55px;
	background-color: #ee3643; 
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	margin-right: 17px;
}

.main-search {
	width: 270px;
	height: 42px;
	color: #ffffff;
	background-color: #293449;
	border: none;
	font-family: 'Cuprum'
	font-size: 17px;
}

.main-search:hover,
.main-search:focus {
	color: #000000; 
	background-color: #ffffff;
}

.main-purchases {
	display: flex;
	justify-content: space-between;
	width: 460px;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #293449;
	margin: 0px;	
}

.main-purchases:hover {
	color: #ffffff
}

.main-purchases a {	
	padding-left: 20px;
	color: #ffffff;
}

.main-purchases li {
	padding-top: 14px;
	padding-bottom: 13px;
}

.main-order {
	width: 150px;	
	background-color: #63a63e;
}

.main-order:hover,
.main-order:focus {
	background-color: #5fbb2d
}

.main-order:active {
	background-color: #518534;
}

.main-information {
	background-color: #f4f7f9;
	width: 940px;
	margin-bottom: 40px;
	display: flex;
}

.main-headline {
	color: #ee3643;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	margin: 0;
	margin-right: 70px;		
	width: 210px;
}

.header-contacts {
	width: 280px;
	margin-right: 70px;
}

.header-telephonenumber {
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	border: 3px solid #ffffff;
}

.header-adress{
	color: #32425c;
	margin-bottom: 0;
}

.user-navigation {
	margin: 0;
	margin-top: 0;
}

.user-navigation a{
	color: #000000;
	font-size: 21px;
	line-height: 21px;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:active {
	color: #b2b2b2;
}

.authorized-visitor {
	margin: 0;
	padding: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-menu {
	font-size: 17px;
	line-height: 17px;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449; 
	width: 940px;
	height: 60px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.main-menu li {	
	padding-top: 21px;	
	padding-bottom: 26px;
	margin-left: auto;
	margin-right: auto;
}

.main-menu a {
	color: #ffffff;
	padding-top: 18px;	
	padding-bottom: 20px;
	padding-left: 31px;
	padding-right: 31px;
}

.main-menu a:hover,
.main-menu a:focus {
	background-color: #293449;
}

.main-menu a:active {
	opacity: 0.5;
}

.main-marker a:active,
.main-cart a:active {
	color: #8a8e94;
	background-color: #161d29; 

}

.headline {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

.features {
	width: 540px;
}

.contacts {
	width: 320px;
}

.features-delivery{
	font-family: "PT Sans";
}

.features-company {
	font-family: Cuprum;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}

.button {
	font: inherit;
	border-radius: 5px;
	color: #ffffff;
	background-color: #ee3643;
	padding-top: 14px;
	padding-bottom: 12px;
}

.button:hover,
.button:focus {
	background-color: #ca2c37
}

.button:active {
	background-color: #ba2732
}

.main-footer {
	background-color: #32425c;
	margin-top: 85px; 
}

.secondary-navigation {
	display: flex;
	flex-direction: column;
}

.footer-secondary-menu {
	width: 940px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 53px;
}

.footer-adress {
	width: 340px;
}

.footer-list {
	width: 560px;
	display: flex;
	flex-direction: column;
}

.footer-block {
	width: 940px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.footer-adress img {
	padding-top: 20px;
	padding-bottom: 25px;
	padding-right: 41px;
	padding-left: 41px;
	background-color: #ee3643; 
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-contacts, 
.footer-contacts a{
	color: #f4f7f9;
	font-size: 18px;
	margin-bottom: 0;	
}

.secondary-menu1 {
	display: flex;
	padding: 0;
	margin: 0;
}

.secondary-menu2 {
	display: flex;
	padding: 0;
	margin: 0;
	padding-left: 23px;
}

.secondary-menu1 a {
	color: #f4f7f9;
	font-size: 18px;
}

.secondary-menu1 li {
	margin-top: 35px;
	padding-right: 60px;
}

.secondary-menu2 a {
	color: #ffd180;
	font-size: 18px;	
}

.secondary-menu2 li {
	margin-top: 35px;
	padding-right: 60px;
}

.secondary-menu a:hover,
.secondary-menu a:focus {
	text-decoration: underline;
}

.secondary-menu a:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-social-block {
	width: auto;
	background-color: #293449;
}

.footer-copyright {	
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.footer-copyright p {
	color: #ffd180;
	font-family: Cuprum;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.footer-copyright a{
	background-color: #293449;
	color: #ffd180;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
	text-decoration: underline;	
}

.footer-copyright a:active {
	color: #d43644;
}

.footer-social {
	width: 160px;
}

.footer-info {
	width: 240px;
}

.footer-feedback {
	width: 140px;
}

.footer-email {
	width: 120px;
}

.account-name {
	background-color: #ffffff;
	color: #000000;
	width: 183px;
	height: 20px;
	font-size: 21px;
	line-height: 21px;	
}

.account-name:hover,
.account-name:focus {

}

.account-name:active {
	opacity: 0.3;
}

.order a,
.account a {
	width: 210px;
	height: 14px;
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.breadcrumbs {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
	display: flex;	
}

.breadcrumbs li {
	padding-right: 39px;
}

.page-title {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
}

.filter-section {
	width: 220px;
	padding: 0;
	margin: 0;
	margin-bottom: 25px;	
}

.catalog {
	width: 700px;
}

.catalog-columns {
	display: flex;
	margin: 0;
	padding: 0;
}

.filter-column{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.catalog-list{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.breadcrumbs a {
	color: #000000;
	font-size: 13px;
	line-height: 18px;
}

.filter-button {
	font: inherit;
	width: 140px;
	height: 38px;
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	background-color: #ffffff;
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.filter-button:hover,
.filter-button:focus {
	border-color: #bdc6ca;	
}

.filter-button:active {
	border-color: #ee3643;
}

.catalog-block {
	width: 218px;
	height: 318px;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	margin-bottom: 21px;
	margin-left: 12px;
}

.catalog-item a {
	width: 155px;
	height: 33px;
	color: #000000;
	font-family: "PT Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	margin-bottom: 18px;
}

.catalog-item-image{
    position:relative;   
    width:218px;
    height:170px;
    background:#ff6600;
    margin-bottom: 12px;    
}


.catalog-item-image:hover .visible-on-hover{
    display:block;
}

.catalog-item, 
.catalog-item-oldprice,
.catalog-item-price  {
	text-align: center;
	margin: 0;
}

.catalog-item-oldprice {
	color: #999999;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: line-through;
	margin-bottom: 13px;
}

.catalog-item-price {
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	background-color: #ee3643;
	padding-top: 13px;
	padding-bottom: 13px;	
}

.buy{
	width: 135px;
	height: 38px;
	box-shadow: inset 0 -3px 0 #367315;
	background-color: #63a63e;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	font-family: Cuprum;
}

.buy:hover,
.buy:focus {
	width: 135px;
	height: 38px;
	box-shadow: inset 0 -3px 0 #367315;
	background-color: #5fbb2d;
}

.buy:active {
	width: 135px;
	height: 38px;
	background-color: #518534;
}

.marker {
	width: 135px;
	height: 38px;
	border: 3px solid #63a63e;
	background-color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	font-family: Cuprum;
}

.marker:hover,
.marker:focus {
	border-color: #32425c;
	}

.marker:active {
	border-color: #32425c;
	opacity: 0.3;
}

.visible-on-hover{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 1);
    padding:5px;
    display:none;
}


