body {
	margin: 0;
	padding: 0;

	font-family: 'Cuprum',  sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	
	background-color: #ffffff;	
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; 
}

.list-style{
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


.main-header {
	margin-bottom: 18px;
	background-color: #f3f7f9;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 60px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 43px;
	background-color: #293449;
	box-shadow: inset 0 -5px 0 #f4f7f9;
}

.main-navigation-block {
	background-color: #293449;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	box-shadow: inset 0 -5px 0 #f4f7f9;
}

.main-navigation-wrapper .main-navigation-block {
	display: flex;
	justify-content: flex-start;
}

.main-navigation-block img {
	padding-top: 13px;
	padding-bottom: 15px;
	padding-right: 55px;
	padding-left: 55px;
	background-color: #ee3643; 
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	
}

.main-search {
	width: 270px;
	height: 42px;
	color: #ffffff;
	background-color: #293449;
	border: none;
	font-family: 'Cuprum'
	font-size: 17px;
}

.main-search:hover,
.main-search:focus {
	color: #000000; 
	background-color: #ffffff;
}

.main-purchases {
	display: flex;
	justify-content: space-between;
	width: 460px;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #293449;
	margin: 0;
	padding: 0;
	box-shadow: inset 0 -5px 0 #f4f7f9;
}

.main-purchases:hover {
	color: #ffffff
}

.main-purchases a {	
	
	color: #ffffff;
}

.main-purchases li {
	padding: 0;
	padding-top: 14px;
	padding-bottom: 13px;
}

.main-purchases .main-marker {
	position: relative;
	padding-left: 50px;
}

.main-marker::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 17px;
	width: 14px;
	height: 16px;	
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.main-marker:hover::before,
.main-marker:focus::before {
	opacity: 1;
}

.main-marker:active::before {
	opacity: 0.5;
}

.main-purchases .main-cart {
	position: relative;
	padding-left: 50px;
}

.main-cart::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 17px;
	width: 14px;
	height: 16px;	
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.main-cart:hover::before,
.main-cart:focus::before {
	opacity: 1;
}

.main-cart:active::before {
	opacity: 0.5;
}

.main-order {	
	width: 150px;		
	background-color: #63a63e;
	text-align: center;
	box-shadow: inset 0 -5px 0 #f4f7f9;
}

.main-order:hover,
.main-order:focus {
	background-color: #5fbb2d
}

.main-order:active {
	background-color: #518534;
}

.main-information {
	background-color: #f4f7f9;
	width: 940px;
	margin-bottom: 25px;
	display: flex;

}

.main-headline {
	color: #ee3643;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;	
	width: 210px;
	margin-left: 53px;
	margin-top: 0px;
	margin-right: 50px;
}

.header-contacts {
	width: 280px;	
	text-align: center;
	margin-top: 10px;
	margin-right: 57px;

}

.header-telephonenumber {
	padding-left: 71px;
	padding-top: 10px;
	padding-right: 42px;
	padding-bottom: 8px;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	border: 3px solid #ffffff;


}

.header-contacts .header-telephonenumber {
	position: relative;
	padding-left: 70px;
}

.header-telephonenumber::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 10px;
	width: 19px;
	height: 19px;	
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;		
}

.header-adress{
	color: #32425c;	
	margin-top: 10px;

}

.user-navigation {	
	padding: 0;
	margin: 0;
	display: flex;
	margin-top: 10px;
	
}

.user-navigation a{
	color: #000000;	
	font-size: 21px;
	line-height: 21px;	
	background-color: #ffffff;	
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:active {
	color: #b2b2b2;
}


.order a,
.account a {
	padding-left: 20px;
	padding-top: 11px;
	padding-right: 12px;
	padding-bottom: 10px;
	background-color: #f2f6f8;
}


.signin a {
	padding-left: 47px;
	padding-top: 10px;
	padding-right: 35px;
	padding-bottom: 11px;
	margin-right: 12px;
}

.user-navigation .signin {
	position: relative;
	padding-left: 5px;	
}

.signin::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 13px;
	width: 20px;
	height: 17px;	
	background-image: url("../img/icon-login-white.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.5;
}

.signin:hover::before,
.signin:focus::before {
	opacity: 1;
}

.signin:active::before {
	opacity: 0.3;
}

.checkin a {
	padding-left: 13px;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 11px;
	margin-right: 10px;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 0px;
}

.main-menu {
	font-size: 17px;
	line-height: 17px;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 #293449; 
	width: 940px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content:flex-start;
	flex-wrap: wrap;	
}

.main-menu li {	
	padding-top: 20px;	
	padding-bottom: 24px;

}

.main-menu a {
	color: #ffffff;
	padding-top: 18px;	
	padding-bottom: 20px;
	padding-left: 31px;
	padding-right: 31px;

}
.main-menu li:first-child {
	margin-left: 20px;
}



.main-menu a:hover,
.main-menu a:focus {
	background-color: #293449;
}

.main-menu a:active {
	opacity: 0.5;
}

.main-marker a:active,
.main-cart a:active {
	color: #8a8e94;
	background-color: #161d29; 

}

.headline {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

.features {
	width: 540px;
	margin-right: 80px;
}

.contacts {
	margin: 0;
	padding: 0;
	width: 280px;
}

.contacts-info {
	margin-bottom: 30px;
}


.features-delivery{
	font-family: "PT Sans";	
	margin: 0;
	margin-bottom: 24px;
}

.features-list {
	position: relative;	
	padding: 0;
	margin: 0;
	padding-left: 37px;
	margin-bottom: 43px;

}

.features-list li::before{
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	left: 0px;
	margin-top: 8px;
	background-color: #ee3643;
}

.features-company {
	font-family: Cuprum;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 19px;
}

.contacts p {
	width: 179px;
}

.contacts img {
	width: 300px;
	height: 158px;
	margin-bottom: 40px;
}

.button {
	font: inherit;
	border-radius: 3px;
	color: #ffffff;
	background-color: #ee3643;
	padding: 10px 41px;
	text-transform: uppercase;
}

.button:hover,
.button:focus {
	background-color: #ca2c37
}

.button:active {
	background-color: #ba2732
}

.main-footer {
	background-color: #32425c;
	margin-top: 90px; 
}

.secondary-navigation {
	display: flex;
	flex-direction: column;
}

.footer-secondary-menu {
	width: 940px;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	margin-bottom: 50px;
}

.footer-adress {
	width: 340px;
	margin-right: 50px;
}


.footer-list {
	width: 560px;
	display: flex;
	flex-direction: column;
}

.footer-block {
	width: 940px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.footer-adress img {
	padding-top: 20px;
	padding-bottom: 25px;
	padding-right: 41px;
	padding-left: 41px;
	background-color: #ee3643; 
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	margin-bottom: 20px;
}

.footer-contacts, 
.footer-contacts a{
	color: #f4f7f9;
	font-size: 18px;
	margin: 0;	
}

.secondary-menu1 {
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 37px;
}

.secondary-menu2 {
	display: flex;
	padding: 0;
	margin: 0;
	padding-left: 23px;
	margin-top: 34px;
}

.secondary-menu1 a {
	color: #f4f7f9;
	font-size: 18px;
}

.secondary-menu1 li {
	padding-left: 10px;
	padding-right: 50px;
}

.secondary-menu2 a {
	color: #ffd180;
	font-size: 18px;	
}

.secondary-menu2 li {
	
	padding-left: 10px;
	padding-right: 50px;
}

.secondary-menu a:hover,
.secondary-menu a:focus {
	text-decoration: underline;
}

.secondary-menu a:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-social-block {
	width: auto;
	background-color: #293449;
	padding-top: 25px;
	padding-bottom: 35px;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 132px;	
	
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 41px;
	height: 42px;
	background-color: #212a3a;
	border-radius: 20px;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
	background-color: #ee3643;
}

.footer-copyright {	
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;	
}

.footer-copyright p {
	color: #ffd180;
	font-family: Cuprum;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.footer-copyright a{
	background-color: #293449;
	color: #ffd180;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
	text-decoration: underline;	
}

.footer-copyright a:active {
	color: #d43644;
}

.footer-social {
	width: 160px;
	margin-right: 47px;
	padding-top: 10px;
	padding-left: 20px;
}

.social-list {
	padding: 0;
	margin: 0;
}

.social-list li {
	margin-right: 3px;
}

.footer-info {
	width: 240px;
	margin-right: 85px;
}

.footer-feedback {
	width: 140px;
}

.footer-email {
	width: 120px;
}

.account-name {
	
	color: #000000;	
	font-size: 21px;
	line-height: 21px;	
	padding-left: 35px;
	padding-top: 10px;
	padding-right: 14px;
	padding-bottom: 11px;
}

.account-name:hover,
.account-name:focus {

}

.account-name:active {
	opacity: 0.3;
}

.authorized-visitor {
	margin: 0;
	padding: 0;
	margin-bottom: 6px;
	display: flex;
	background-color: #ffffff;
}

.autorized-menu .account-name {
	position: relative;
	padding-left: 40px;
}

.account-name::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 7px;
	width: 20px;
	height: 18px;	
	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.autorized-menu .exit-button {
	position: relative;
	padding-left: 50px;
}

.exit-button::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 21px;
	width: 20px;
	height: 18px;	
	background-image: url("../img/icon-logout.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.order a,
.account a {
	width: 210px;
	height: 14px;
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.breadcrumbs {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
	display: flex;	
	font-family: "PT Sans";	
	text-transform: uppercase;


}

.breadcrumbs li {
	position: relative;
	margin-right: 40px;
	

}

.breadcrumbs li::after {
	content: "";
	position: absolute;
	width: 8px;
	height: 12px;
	top: 6px;
	right: -25px;
	background-image: url(../img/icon-right-small.svg);
}

.breadcrumbs li:last-child {
	margin-right: 0;
}

.breadcrumbs-current::after {
    display: none;
}

.go-home {
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 14px;
	height: 12px;
	padding-top: 10px;

}

.page-title {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
}

.filter-section {
	width: 220px;
	padding: 0;
	margin: 0;
	margin-bottom: 25px;

	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;	
}

.filter-section ul {
	padding: 0;
	margin: 0;
}

.filter-option {
	margin-bottom: 20px;
	padding-left: 45px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  left: -42px;
  top: 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0px;
  left: -42px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog {
	width: 700px;
	margin: 20px;
}

.catalog-columns {
	display: flex;
	margin: 0;
	padding: 0;
}

.filter-columns{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	margin-right: 20px;
}

.catalog-list{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.breadcrumbs a {
	color: #000000;
	font-size: 13px;
	line-height: 18px;
}

.filter-button {
	font: inherit;
	width: 140px;
	height: 38px;
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	background-color: #ffffff;
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.filter-button:hover,
.filter-button:focus {
	border-color: #bdc6ca;	
}

.filter-button:active {
	border-color: #ee3643;
}

.catalog{
  width: 700px;
  margin: 20px auto;
  background-color: #ffffff;
}

.catalog li {
	margin-right: 20px;
	margin-bottom: 20px;
}

.catalog-block {
	position: relative;
	display: inline-block;
	width: 218px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;  
	border: 1px solid #ccc;
}

.catalog li:nth-child(3n) {
  margin-right: 0;
}

.catalog-block {
  font-size: 0;
}

.catalog-block {
  font-size: 16px;
}

.catalog-block .flag {
  position: absolute;
  top: -1px;
  right: -1px;  
  width: 60px;
  height: 60px;  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-block .flag-new {
  background: url("../img/new_flag.png") no-repeat 0 0;
}

.catalog-block .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}

.catalog-block .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;  
  color: #999;
  text-decoration: line-through;
}

.catalog-block .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;  
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-block .price:after {
  content: "";  
  position: absolute;
  top: 0;
  right: -20px;  
  width: 0;
  height: 0;  
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-block .actions {
  position: absolute;
  top: 0;
  left: 0;  
  width: 218px;
  height: 88px;
  padding: 40px 0;  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-block .actions .buy,
.catalog-block .actions .bookmark {
   display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-block .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-block .actions {
  display: none;
}

.catalog-block:hover .actions {
  display: block;
}

.catalog-block .image {
  width: 218px;
  height: 168px;
}

.catalog-block .image img {
  max-width: 100%;
}

.catalog-block .actions .buy:hover,
.catalog-block .actions .buy:focus {
	background-color: #5fbb2d;
}

.catalog-block .actions .buy:active {
	width: 135px;	
	background-color: #518534;
}

.catalog-block .actions .bookmark:hover,
.catalog-block .actions .bookmark:focus {
	border-color: #32425c;
	}

.catalog-block .actions .bookmark:active {
	border-color: #32425c;
	opacity: 0.3;
}